<html>
<body>
<div style="display:none">
   	<input type="hidden" name="csrfmiddlewaretoken" value="{% csrf_token %}">
</div>
<h4>Thank You.</h4>
<h4>Your order status is {{ status }}</h4>
<h4>Your Transaction ID for this transaction is {{ txnid }}</h4>
<h4>We have received a payment of Rs {{ amount}}</h4>

</body>
</html>